HTML,
BODY
{
  height: 100%;
  padding: 0;
  margin: 0;

  background: white;
  color: black;
  font-size: small;
  font-family: 'Roboto', sans-serif;
}

.header
{
  font-size: 2em;
  padding: 2em;
  background-color: #00838F;
}

.title
{
  color: #fff;
  font-weight: 400;
}
