.lesson
{
    margin-bottom: 0;
}

.header
{
    padding: 2rem 4rem;
}

.title
{
    color: #00838F;
    font-weight: 400;
    font-size: 26px;
}

.content
{
    background-color: #E0F7FA;
    padding: 2rem;
}

.section-title
{
    padding: 1rem 2rem;
}