<!--<b:style src="./lesson.css"/>-->
<!--<b:isolate/>-->

<!--<article class="lesson">-->
    <!--<header class="header">-->
        <!--<h2 class="title">{title}</h2>-->
    <!--</header>-->
    <!--<div class="content">-->
        <!--<section class="theory">-->
            <!--<h3 class="section-title">Теория</h3>-->
            <!--<ul class="section-list">&lt;!&ndash;{theory}&ndash;&gt;</ul>-->
        <!--</section>-->
        <!--<section class="practice">-->
            <!--<h3 class="section-title">Практика</h3>-->
            <!--<ul class="section-list">&lt;!&ndash;{practice}&ndash;&gt;</ul>-->
        <!--</section>-->
    <!--</div>-->
<!--</article>-->